body{
    font-family: Arial, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
    width: 300px;
    text-align: center;
    border-top: 10px solid #000;
    border-bottom: 10px solid #ff0000;
}


label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;   
    color: #333; 
}

input[type="text"], 
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], 
input[type="reset"]{
    width: 48%;
    padding: 10px;
    margin: 10px 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s ease;
}

input[type="reset"]{
    background-color: #ff0000;
}

input[type="reset"]:hover{
    background-color: #cc0000;
}

input[type="submit"]{
    background-color: #ffd700;
    color: #000;
}

input[type="submit"]:hover{
    background-color: #e6c200;
}